@keyframes Background {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 0% 7%;
  }
}

ul li:hover .a {
  color: var(--bs-white);
}

ul li:hover > aa {
  color: #e4e2ff!important;
}

.navbar_btn:hover {
  padding-left: 20px;
  padding-right: 20px;
  background: #aca7ff;
  box-shadow: 0px 1px 5px 2px #a7a1fe;
}

@keyframes hoverEffect {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.93);
}

.card-body {
  width: 100%;
  height: auto;
  margin-top: 120px;
}

.btn:hover {
  transform: scale(1.05);
  animation: btn_hovGrad;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.cards {
  display: flex!important;
}

.navbar {
  align-items: flex-start!important;
}

@keyframes btn_hovGrad {
  0% {
    background-position: -1px -1px;
  }
  50% {
    background-position: -100px -100px;
  }
  100% {
    background-position: -1px -1px;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  #body_main > h1 {
    width: 50%!important;
    margin-top: -133px!important;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a175ff;
  border-radius: 5px;
  margin-right: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #7b4ae6;
}

.head_name {
  animation: name_gradient;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes name_gradient {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -100px -100px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.tg_support:hover {
  color: #cdcbcb!important;
}

@media (min-width: 360px) and (max-width: 414px) {
  #body_start p {
    text-align: center;
    font-size: 20px!important;
    width: auto!important;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  .cards .card {
    font-size: 10px;
    border-top-width: 30px!important;
    height: auto!important;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  #body_start img {
    display: flex;
    margin-top: 30px!important;
    width: 65%!important;
    margin-top: 25px!important;
    order: 4!important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  #body_start {
    display: flex!important;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  h2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  .button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  #body_start a {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  .cards > h1 {
    font-size: 13px;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  #body_main p {
    margin-top: 10px;
    padding-left: 5px!important;
    padding-right: 5px!important;
    width: auto!important;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  .cards h2 {
    font-size: 12px!important;
    margin-top: -33px!important;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  .steps {
    width: 100%!important;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  .container {
    width: 100%!important;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  h1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  img {
    display: none;
  }
}

